# === Visual Studio / .NET Core / WPF ===
.vs/
[Bb]in/
[Oo]bj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.dbmdl
*.jfm
.vscode/
.idea/
.DS_Store
Thumbs.db
ehthumbs.db
*.publishproj
*.[Pp]ublish.xml
*.nupkg
packages/
*.cache
*.log
*.pfx
*.snk